body, h1, h2, h3, h4, p, a {
  margin: 0;
  font-size: 100%; font-weight: normal;
}
*{
 box-sizing: border-box; 
}
body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.header {
  height: 100vh;
  background-color: #eee;
  background-image: url(imeges/фон.webp);
  background-size: cover;
  background-position: center;
  text-align: center;
}


.header-title {
  font-size: 100px;
  color: #8ea5ea;
  text-transform: uppercase;
  font-weight: 400;
 margin: auto;
}

.card-image{
   width: 100%;
  margin-bottom: 25px;
}
.overlay {
  width: 100%;
  height: 100%;
   display: flex;
  background-color: rgba(0, 0, 0, .5);
  
}
.content{
  font-size: 0;
  width: 80%;
  background-color: #ffd8d8;
  margin: 50px auto 50px;
  padding: 45px 45px;
}
.card{
 width: 500px; 

  margin-bottom:60px;
  padding: 45px 45px 70px;
 box-shadow: 4px 4px 5px rgba(250, 50, 50, .4);
  display: inline-block;
  margin-right: 90px;
 
    }
.no-right-margin{
 margin-right: 0; 
}
.card-title{
  font-weight: 500;
   font-size: 24px;
  margin-bottom: 10px;
}
.card-text{
 font-size: 16px;
 
}

.footer{
  height:200px;
  background-size: cover;
  
  background-image: url(imeges/фон.webp);
  background-repeat: no-repeat;
  display: flex;
}
.footer-author{
  font-size: 24px;
  color: #8ea5ea;
   margin: auto;
  
}