body{
	font-family: 'Nunito Sans', sans-serif;
	}

.header{
	background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}

.container{
	max-width: 1180px;
	margin: 0 auto;
	display: flex;
	justify-content:space-between;
}

.text{
	color: #FAF9F9;
	flex: 0 0 580px;
	padding-top: 100px;
	padding-bottom: 100px;
}

h1{
	font-size: 120px;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 120px;
	margin-bottom: 39px;
}
h1 span{
	color: #FBB731;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 38px;
	display: block;
	margin-bottom: 10px;
}

p{
	font-family: 'Open Sans', sans-serif;
	font-size: 19px;
	color: #DEDEDE;
	line-height: 1.4;
	margin-bottom: 42px;
}

a{
	color: #1E2F40;
	background: #FBB731;
	border-radius: 5px;
	text-decoration: none;
	display: inline-block;
	padding: 20px 45px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.visual{
	flex-grow: 1;
	display: flex;
	justify-content: center;
	}

.bg{
	Width: 415px;
	height: 100%;
	background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%);
}

img{
	width: 830px;
	left: -200px;
	position: relative;
	}
